.container {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  
  .left {
    flex: 30%;
    background-color: #f1f1f1;
    text-align: center;
    padding-top: 200px;
  }
  
  .right {
    padding-top: 50px;
    flex: 70%;
    background-color: black;
  }

  #sellbuy {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    margin-top: 20px; /* Adjust as needed for spacing */
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  button.buy {
    background-color: red;
    color: white;
  }
  
  button.sell {
    background-color: green;
    color: white;
  }
.center{
  text-align: right;
}
